* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #F5F6FA;
  position: relative;
  overflow: hidden;
}

.navtop {
  position: absolute;
  top: 0%;
  right: 0%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFFFFF;
  border: 0px ridge lightgray;
  color: #405B63;
  height: 78px;
  -webkit-box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 7px 5px 0px rgba(0, 0, 0, 0.16);
}

.navtop i {
  font-size: 25px;
  padding-left: 15px;
}

.navtop h1 {
  font-family: sans-serif;
  font-size: 24px;
  font-weight: bolder;
}

.navtop .navtopright {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navtop .navtopright .bellz {
  position: relative;
}

.navtop .navtopright .bellz .fa-circle {
  position: absolute;
  top: 0%;
  right: 0;
  font-size: 10px;
  color: #E77060;
}

.navtop .dropdown1 {
  padding-right: 20px;
}

.navtop .dropdown1 h3 {
  color: #E77060;
  font-size: 10px;
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  padding-left: 5px;
}

.navtop .dropdown1 select {
  font-family: 'Raleway', sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.navleft {
  position: absolute;
  top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  width: 78px;
  height: 94.8vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  -webkit-box-shadow: 11px 0px 5px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 11px 0px 5px 0px rgba(0, 0, 0, 0.16);
}

.navleft .navlefttop4button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 520px;
  width: 65px;
}

.navleft .navlefttop4button a:hover {
  background-color: #DFDEDB;
  border-radius: 10px;
}

.navleft .navleftgear {
  width: 76px;
  text-align: center;
  background-color: #43A6D4;
  padding-top: 10px;
}

.navleft .house {
  background-color: #E77060;
  border-radius: 5px;
  -webkit-box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
          box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
}

.navleft .gear {
  background-color: #43A6D4;
  bottom: 0;
  right: 5px;
}

.databoard {
  position: absolute;
  width: 1250px;
  height: 87%;
  margin: 0;
  top: 18%;
  left: 10%;
}

.databoard .metrics {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.databoard .metrics .metricsdate a {
  color: #E77060;
  text-decoration: none;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.databoard .metrics .metricsdate .week {
  background-color: #E77060;
  color: white;
  -webkit-box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
          box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
  border-radius: 6px;
}

.databoard .metrics .metricsdate a:hover {
  background-color: #E77060;
  color: white;
  -webkit-box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
          box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
  border-radius: 6px;
}

.databoard .metrics .metricscurrency a {
  color: #E77060;
  text-decoration: none;
  padding: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.databoard .metrics .metricscurrency .usd {
  background-color: #E77060;
  color: white;
  border-radius: 6px;
  -webkit-box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
          box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
}

.databoard .metrics .metricscurrency a:hover {
  background-color: #E77060;
  color: white;
  border-radius: 6px;
  -webkit-box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
          box-shadow: 11px 10px 7px -3px rgba(231, 112, 96, 0.3);
}

.box1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  height: 25%;
}

.box1 .box11 {
  background-image: url("../images/icons/Path1.png");
}

.box1 .box12 {
  background-image: url("../images/icons/Path2.png");
}

.box1 .box13 {
  background-image: url("../images/icons/Path3.png");
}

.box1 .box14 {
  background-image: url("../images/icons/Path4.png");
}

.box1 .box11, .box1 .box12, .box1 .box13, .box1 .box14 {
  width: 261px;
  height: 146px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 310px 69px;
  background-position: right;
  font-family: 'Lato', sans-serif;
  color: #E77060;
  padding-left: 2%;
  padding-top: 1%;
}

.box1 .box11 p, .box1 .box12 p, .box1 .box13 p, .box1 .box14 p {
  font-family: 'Dosis', sans-serif;
  font-size: 32px;
  color: #405B63;
  padding-top: 1%;
}

.box1 .box11 h4, .box1 .box12 h4, .box1 .box13 h4, .box1 .box14 h4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 536px;
}

.box2 .box21 {
  width: 927px;
  height: 536;
  background-color: white;
  background-image: url("../images/icons/Path 22.png");
  background-repeat: no-repeat;
  background-size: 800px 200px;
  background-position: center;
}

.box2 .box21 .dropDown2 {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.box2 .box21 .dropDown2 select {
  font-family: 'Lato', sans-serif;
  font-weight: bolder;
  font-size: 19px;
}

.box2 .box21 .columnLeft {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  padding-left: 20px;
  padding-top: 30px;
}

.box2 .box21 .columnLeft p {
  padding-top: 50px;
  border-bottom: 1px solid #DFDEDB;
}

.box2 .box21 .rowBottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 120px;
  padding-right: 60px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  color: #C9C9C9;
}

.box2 .box21 h4 {
  position: absolute;
  top: 210px;
  left: 380px;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  border: 1px solid #707070;
  width: 180px;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.16);
          box-shadow: 1px 3px 5px 2px rgba(0, 0, 0, 0.16);
}

.box2 .box22 {
  width: 285px;
  height: 536px;
  background-color: white;
  position: relative;
}

.box2 .box22 .dropDown3 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box2 .box22 .dropDown3 select {
  font-family: 'Lato', sans-serif;
  font-size: 19px;
  font-weight: bold;
}

.box2 .box22 .chart {
  position: relative;
}

.box2 .box22 .chart .path5 {
  position: absolute;
  top: 30px;
  left: 45px;
}

.box2 .box22 .chart .path6 {
  position: absolute;
  top: 117px;
  left: 63px;
  z-index: 1;
}

.box2 .box22 .chart .path7 {
  position: absolute;
  z-index: 2;
  top: 31px;
  left: 32px;
}

.box2 .box22 .chart p {
  font-family: 'Dosis', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.box2 .box22 .chart .p1 {
  position: absolute;
  top: 115px;
  left: 53px;
  z-index: 3;
  color: white;
}

.box2 .box22 .chart .p2 {
  position: absolute;
  top: 68px;
  left: 182px;
  z-index: 3;
  color: white;
}

.box2 .box22 .chart .p3 {
  position: absolute;
  top: 183px;
  left: 152px;
  z-index: 3;
  color: white;
}

.box2 .box22 .chart .pTotal {
  position: absolute;
  top: 100px;
  left: 107px;
  text-align: center;
  color: #C9C9C9;
}

.box2 .box22 .chart .pTotal span {
  display: block;
  color: #405B63;
  font-size: 18px;
}

.box2 .box22 .productCat {
  position: absolute;
  bottom: 60px;
  left: 60px;
  width: 160px;
  color: #919191;
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid gray;
}

.box2 .box22 .productCat li {
  padding-bottom: 20px;
}

.box2 .box22 .viewDetails {
  position: absolute;
  bottom: 20px;
  left: 90px;
  color: #E77060;
}

.box3 {
  position: absolute;
  right: 30px;
  top: 128px;
  width: 396px;
}

.box3 div {
  background-color: white;
  border-radius: 6px;
  margin-bottom: 31px;
  height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 3px solid red;
}

.box3 div img {
  padding-left: 10px;
}

.box3 div p {
  text-align: left;
  padding-left: 50px;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #405B63;
}

.box3 div span {
  display: block;
  color: #919191;
  font-size: 18px;
  font-weight: none;
}

.box3 .dropDown4 {
  background-color: transparent;
  border: none;
  margin-bottom: 0px;
  height: 90px;
}

.box3 .dropDown4 .dropSelect {
  color: #405B63;
  font-size: 20px;
  font-weight: bold;
  background-color: transparent;
}

@media screen and (max-width: 1280px) {
  .navtop {
    height: 45px;
  }
  .navtop .navtopright {
    width: 250px;
  }
  .navleft {
    height: 565px;
    width: 68px;
  }
  .navleft .navleftgear {
    width: 67px;
  }
  .databoard {
    width: 875px;
    height: 262px;
  }
  .databoard .metrics .metricsdate a {
    font-size: 15px;
  }
  .databoard .metrics .metricscurrency a {
    font-size: 15px;
  }
  .databoard .box11, .databoard .box12, .databoard .box13, .databoard .box14 {
    width: 180px;
    height: 80px;
    background-size: 240px 50px;
  }
  .databoard .box11 p, .databoard .box12 p, .databoard .box13 p, .databoard .box14 p {
    font-size: 25px;
    padding-left: 2px;
  }
  .box2 {
    height: 300px;
    padding-top: 40px;
  }
  .box2 .box21 {
    width: 647px;
    height: 340px;
    background-size: 464px 103px;
  }
  .box2 .box21 h4 {
    width: 100px;
    font-size: 13px;
    top: 110px;
    left: 420px;
  }
  .box2 .box21 .dropDown2 {
    padding-top: 10px;
    padding-left: 15px;
  }
  .box2 .box21 .dropDown2 select {
    font-size: 15px;
  }
  .box2 .box21 .columnLeft {
    font-size: 15px;
    padding-top: 0px;
  }
  .box2 .box21 .columnLeft p {
    padding-top: 28px;
    margin-right: 25px;
  }
  .box2 .box21 .rowBottom {
    padding-left: 77px;
    padding-right: 30px;
    font-size: 15px;
  }
  .box2 .box22 {
    width: 198px;
    height: 340px;
  }
  .box2 .box22 .dropDown3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }
  .box2 .box22 .dropDown3 select {
    font-size: 15px;
  }
  .box2 .box22 .chart .path5 {
    height: 140px;
    top: 25px;
    left: 30px;
  }
  .box2 .box22 .chart .path6 {
    width: 138px;
    top: 87px;
    left: 38px;
  }
  .box2 .box22 .chart .path7 {
    height: 140px;
    left: 15px;
    top: 22px;
  }
  .box2 .box22 .chart p {
    font-size: 12px;
  }
  .box2 .box22 .chart .p1 {
    top: 87px;
    left: 34px;
  }
  .box2 .box22 .chart .p2 {
    top: 59px;
    left: 135px;
  }
  .box2 .box22 .chart .p3 {
    top: 137px;
    left: 101px;
  }
  .box2 .box22 .chart .pTotal {
    top: 72px;
    left: 68px;
  }
  .box2 .box22 .productCat {
    font-size: 12px;
    left: 40px;
    width: 131px;
    bottom: 50px;
  }
  .box2 .box22 .productCat li {
    padding-bottom: 8px;
  }
  .box2 .box22 .productCat .liMain {
    padding-bottom: 15px;
  }
  .box2 .box22 .viewDetails {
    bottom: 10px;
    left: 60px;
    font-size: 15px;
  }
  .box3 {
    width: 200px;
    top: 90px;
  }
  .box3 .dropDown4 {
    height: 45px;
    padding-bottom: 14px;
  }
  .box3 .dropDown4 .dropSelect {
    font-size: 15px;
  }
  .box3 div {
    height: 76px;
    margin-bottom: 16px;
  }
  .box3 div p {
    padding-left: 20px;
    font-size: 15px;
  }
  .box3 div img {
    height: 40px;
  }
  .box3 div span {
    font-size: 11px;
  }
}
/*# sourceMappingURL=style.css.map */